/* Стили для экрана более 1280px */

.profile__edit-button {
    margin: 23px 0 0 0;
    padding: 0;
    width: 24px;
    height: 24px;
    outline-offset: 7px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background: url(../../../images/edit-button.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: none;
    transition: 0.3s linear;
    cursor: pointer
}

.profile__edit-button:hover {
    opacity: 0.6;
}

/* Стили для мобильных экранов*/

@media screen and (max-width: 1024px) {
    .profile__edit-button {
        margin: 8px 0 0 0;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
        outline-offset: 5.25px;
    }
}