.popup__container {
    margin: 34px 36px 37px 36px;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 768px) {
    .popup__container {
        margin: 25px 22px;
    }
}