/* Стили для экрана более 1280px */

.profile__about {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 1024px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}