/* Стили для экрана более 1280px */

.pictures__list {
  margin: 0 auto 0;
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  list-style-type: none;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 1024px) {
  .pictures__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 768px) {
  .pictures__list {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 20px;
  }
}