.popup__profile-info {
    padding: 34px 36px 37px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 768px) {
    .popup__profile-info {
        padding: 25px 22px;
    }
}