/* Стили для экрана более 1280px */

.logo {
    margin: 0;
    padding: 0;
    height: 33px;
    width: 142px;
}

/* Стили для мобильных экранов*/

@media screen and (max-width: 768px) {
    .logo {
        margin: 0 0 0 27px;
        height: 24.4px;
        width: 103.74px;
    }
}