/* Стили для экрана более 1280px */

.pictures__like-button {
    margin: 5px 0 0 19px;
    padding: 0;
    width: 22px;
    height: 19px;
    display: block;
    background-image: url(../../../images/like_disabled.svg);
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 1;
    opacity: 1;
    transition: 0.2s linear;
    cursor: pointer;
}

.pictures__like-button:hover {
    opacity: 0.5;
}

.pictures__like-button:active {
    background-image: url(../../../images/like_active.svg);
    opacity: 1;
}