/* Стили для экрана более 1280px */

.pictures__like-button {
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 29px;
    right: 20px;
    background-image: url(../../../images/like_disabled.svg);
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 1;
    transition: 0.2s linear;
}

.pictures__like-button:hover {
    background-image: url(../../../images/like_hover.svg);
}

.pictures__like-button:active {
    background-image: url(../../../images/like_active.svg);
}