.popup__window {
    margin: auto;
    padding: 0;
    width: 430px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
}

/* Стили для экрана до 768px */

@media screen and (max-width: 768px) {
    .popup__window {
        width: 282px;
    }
}