.popup_button_close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/close-icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.popup_button_close:hover {
    opacity: 0.6;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 768px) {
    .popup_button_close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}