.profile__name-container {
    margin: 22px 0 25px 0;
    padding: 0;
    max-height: 73px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 1024px) {
    .profile__name-container {
        max-width: 100%;
        margin: 0 auto 36px;
        padding: 0;
    }
}